@model TodoList.Models.Todo

@{
    ViewBag.Title = "AddTodo";
}

@using (Html.BeginForm("AddTodo", "Todo", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group" hidden>
            @Html.LabelFor(model => model.MarkedDone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <div class="checkbox">
                    @Html.CheckBoxFor(model => model.MarkedDone)
                    @Html.ValidationMessageFor(model => model.MarkedDone, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="margin-top:3px;">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </div>
}


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
